# for postgres
POSTGRES_DB="iris"
POSTGRES_USER="iris"
POSTGRES_PASSWORD="Amagasaki2022"

# for prisma
# format: postgresql://[POSTGRES_USER]:[POSTGRES_PASSWORD]@[DB Address]:5432/[POSTGRES_DB]?schema=public
#   e.g. prod. : postgresql://iris:super_strong_password@db:5432/iris?schema=public
#        dev.  : postgresql://iris:Amagasaki2022@localhost:5432/[POSTGRES_DB]?schema=public
DATABASE_URL="postgresql://hogehoge:Amagasaki2022@db:5432/iris?schema=public"