# for postgres
POSTGRES_DB="iris"
POSTGRES_USER="hogehoge"
POSTGRES_PASSWORD="password"

# for prisma
# format: postgresql://[POSTGRES_USER]:[POSTGRES_PASSWORD]@[DB Address]:5432/[POSTGRES_DB]?schema=public
#   e.g. prod. : postgresql://iris:super_strong_password@db:5432/iris?schema=public
#        dev.  : postgresql://iris:password@localhost:5432/[POSTGRES_DB]?schema=public
DATABASE_URL="postgresql://hogehoge:password@db:5432/iris?schema=public"